# Machine Learning with WhatsApp Group Chat Dataset

## Data Wrangling

In [63]:
import numpy as np
import pandas as pd

In [55]:
df = pd.read_csv('cleaned_dataset.csv', index_col=False, quotechar='"')

In [56]:
df.head(8)

,date,time,name,message
0,2021-08-22,08:21:00,Skillup,Please someone should post the compiled zoom t...
1,2021-08-22,17:07:00,Rufus,https://arcg.is/0nyGPD0 The online medical ...
2,2021-08-22,17:08:00,Rufus,This stuff is long now
3,2021-08-22,17:08:00,Rufus,Does that did before did not fill this now
4,2021-08-22,17:08:00,Goodness CSC,Just fill the part I aspect
5,2021-08-22,17:08:00,Goodness CSC,Leave the rest
6,2021-08-22,17:10:00,Rufus,<Media omitted>
7,2021-08-22,18:07:00,David,???????

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28536 entries, 0 to 28535
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     28536 non-null  object
 1   time     28536 non-null  object
 2   name     28053 non-null  object
 3   message  28513 non-null  object
dtypes: object(4)
memory usage: 891.9+ KB

### Drop Messages Without Author

In [58]:
# Number of messages without author
sum(df['name'].isnull())

483

In [59]:
df[df['name'].isna()].head(3)

,date,time,name,message
386,2021-08-29,01:08:00,NaN,"üíéüíéüî•üç∑ *DO ACCORDING TO GOD'S WILL* üåÄ Thank u , ..."
4308,2021-10-05,08:34:00,NaN,<Media omitted>
7349,2021-11-04,10:13:00,NaN,Omor üòÇ

In [60]:
df = df.dropna(axis=0, subset=['name'])

### Correct Erroneous Datatype

In [61]:
df['date'] = pd.to_datetime(df.date)

## Data Visualization

In [64]:
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rcParams
%matplotlib inline

In [6]:
sns.set_style('darkgrid')
rcParams['font.size'] = 14
rcParams['figure.figsize'] = (9, 5)
rcParams['figure.facecolor'] = '#00000000'